
#news-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.newscard {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.news-item p {
    color: #555;
}

.news-item a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #news-container {
        grid-template-columns: 1fr; /* Adjust for smaller screens, e.g., single column */
    }
}